:root {
  /* Color */
  --dark-background-color: #3f454e;
  --white-color: #ffffff;
  --blue-color: #3e89c4;
  --yellow-color: #febe29;
  --pink-color: #fd7f83;
  --light-grey-color: #dfdfdf;

  /* size */
  --base-space: 8px;
  --size-button: 60px;
  --size-border: 4px;
  --size-thumbnail: 50px;
  --font-size: 18px;

  /* annimation */
  --animation-duration: 300ms;
}

body {
  font-family: Fira Sans;
  height: 100vh; /*body의 height을 view port 화면의 100%를 사용하기 위해 */
  background-color: var(--dark-background-color);
  display: flex;
  flex-direction: column;
  justify-content: center; /*수평을 중간으로 맞춤*/
  align-items: center;
}

.logo {
  cursor: pointer;
  transition: transform var(--animation-duration) ease;
}

.menu {
  background-color: transparent; /* button의 배경색 투명으로 만들어준다. */
  border: none;
  outline: none;
  cursor: pointer;
  transition: transform var(--animation-duration) ease;
  margin-right: var(--base-space);
}

.menu:hover,
.logo:hover {
  transform: scale(1.1);
}

.buttons {
  display: flex;
  align-items: center; /*가로에서 중앙정렬*/
}

.imgBtn {
  width: var(--size-button);
  height: var(--size-button);
}

.colorBtn {
  font-size: var(--font-size);
  padding: calc(var(--base-space) * 2);
  border-radius: var(--size-border);
}

.blue {
  background-color: var(--blue-color);
}

.yellow {
  background-color: var(--yellow-color);
}

.pink {
  background-color: var(--pink-color);
}

.items {
  width: 60%;
  height: 60%;
  list-style: none;
  padding-left: 0; /*li태그는 양 옆에 패딩이 들어있기 때문에 없애준다 */
  overflow-y: scroll;
}

.item {
  background-color: var(--white-color);
  display: flex;
  align-items: center; /*이미지와 텍스트 수직으로 가운데 정렬*/
  padding: var(--base-space);
  margin-bottom: var(--base-space); /*아이템들간의 간격*/
}

.item.invisible {
  background-color: var(--white-color);
  display: none;
}

.item__thumbnail {
  width: var(--size-thumbnail);
  height: var(--size-thumbnail);
}

.item__description {
  margin-left: var(--base-space);
  font-size: var(--font-size);
}
